html,body{
	font-family: Arial;
	margin:0
}

header{
	background-color: #339933;
	text-align: center;
	padding: 60px
}

h1{
	color: #E8E8E8;
	font-size: 70px
}
header img{
	border-radius: 325px;
	border: 15px solid #1aff66
}
.content{
	max-width: 1200px;
	margin: 0px auto
}
img.big-image{
	max-width: 100%
}

p.caption{
	color: grey;
	font-size:20px;
	font-style: italic
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size:17px
	}

a{
	text-decoration: none;
	color: #48af03
}

footer{
	margin-top: 20px;
	text-align: center;
	padding: 40px 20px
}

footer ul{
	display: inline;
}

body{
	background-color: #E8E8E8
	}

ol{
	font-size: 17px
}

p.main-text{
	font-size: 17px
}